<div class="col-md-12">
    {% for server in data %}
    <div class="row">
        {% if server.status %}
        <div class="col-md-12 monitoring-text">
            <span class="pull-left" data-toggle="tooltip" data-placement="right" title="{{ server.data.version }}">
                {{ server.serverName }}
            </span>
                    <span class="pull-right" data-toggle="tooltip" data-placement="left" title="Ping: {{ server.data.ping|default(0) }}ms">
                {{ server.data.players|default(0) }}/{{ server.data.maxPlayers|default(0) }}
            </span>
        </div>

        <div class="monitoring">
            <div class="status online" style="width: {{ server.data.maxPlayers > 0 ? (server.data.players*100/server.data.maxPlayers)|round : '0' }}%;"></div>
        </div>
        {% else %}
        <div class="col-md-12 monitoring-text">
            <span class="pull-left">
                {{ server.serverName }}
            </span>
            <span class="pull-right">
                {{ 'server.offline'|trans }}
            </span>
        </div>
        <div class="monitoring">
            <div class="status offline" style="width: 100%;"></div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if data|length > 0 %}
    <div class="row">
        <div class="col-md-12 monitoring-text">
        <span class="pull-left">
            {{ 'server.total'|trans }}:
        </span>
        <span class="pull-right">
            {{ totalOnline.players }}/{{ totalOnline.maxPlayers }}
        </span>
        </div>
        <div class="monitoring">
            <div class="status total" style="width: {{ totalOnline.maxPlayers > 0 ? (totalOnline.players*100/totalOnline.maxPlayers)|round : '0' }}%;"></div>
        </div>
    </div>
    {% else %}
        <div class="alert">No servers added!</div>
    {% endif %}
</div>

<style>
    .monitoring-text {
        font-size: 14px;
    }

    .monitoring-text .pull-left {
        font-weight: bold;
    }

    .monitoring {
        top: -13px;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 6px;
        border: darkgray solid 1px;
        background: #e3e3e3;
        border-radius: 6px;
    }

    .monitoring .status {
        height: 100%;
    }

    .status.offline {
        width: 100%;
        background: #f43f1f;
    }

    .status.online {
        width: 100%;
        background: #4cae4c;
    }

    .status.warning {
        width: 100%;
        background: #ff9900;
    }

    .status.total {
        width: 100%;
        background: #0782C1;
    }
</style>
