{% extends ':Default:base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/ckeditor/adapters/jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.editorConfig = function (config)
            {
                config.skin = 'bootstrapck';
                config.language = '{{ app.request.locale|default('ru') }}';
            };

            $("#{{ form.lessContent.vars.id }}").ckeditor();
            $("#{{ form.fullContent.vars.id }}").ckeditor();
        });
    </script>
{% endblock %}

{% block content %}
    <h4>{{ header_title|raw }}</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">{{ 'news.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
