{% extends ':Default:base.html.twig' %}
{% if  is_granted('IS_AUTHENTICATED_FULLY') %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block content %}
    <div class="panel panel-default">
    	<div class="panel-body">
            <div class="pull-left">
                <b>{{ post.subject }}</b>
            </div>
            <div class="pull-right">
                <small>{{ post.user.username }}</small>
            </div>
            <br><hr>
    	    {{ post.fullContent|raw }}
            <hr>
            <div class="pull-left">
                <small>{{ post.createdAt|date('d.m.Y H:i') }}</small>
            </div>
            <div class="pull-right">
                <span class="btn-group btn-group-sm">
                {% if is_granted('ROLE_NEWS_EDIT') or post.user == app.user %}
                    <a href="{{ path('mc_shop_news_edit', {'id': post.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                {% endif %}
                {% if is_granted('ROLE_NEWS_REMOVE') %}
                    <a href="{{ path('mc_shop_news_remove', {'id': post.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                {% endif %}
                </span>
            </div>
    	</div>
    </div>
    <hr>
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'news.comments.send'|trans }}</button>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-danger">{{ 'news.comments.no_rights'|trans }}</div>
    {% endif %}
    <hr>
    {% if commentaries|length == 0 %}
        <div class="alert alert-info">{{ 'news.comments.no_comments'|trans }}</div>
    {% endif %}
    {% for commentary in commentaries %}
        <!-- the comments -->
        <div class="comment">
            <h3><i class="fa fa-comment"></i> {{ 'news.comments.user_says'|trans({'@username@': commentary.user.username}) }}:
                <small> {{ commentary.createdAt|date('d.m.Y H:i') }}</small>
                <div class="pull-right">
                    <span class="btn-group btn-group-sm">
                    {% if is_granted('ROLE_COMMENTARY_EDIT') or post.user == app.user %}
                        <a href="{{ path('mc_shop_commentary_edit', {'id': commentary.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_COMMENTARY_REMOVE') %}
                        <a href="{{ path('mc_shop_commentary_remove', {'id': commentary.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    </span>
                </div>
            </h3>
            <p>{{ commentary.content }}</p>
        </div>
    {% endfor %}
    {{ commentaries.hasNextPage ? pagerfanta(commentaries, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .comment {
            padding: 10px;
            border-radius: 8px;
        }
        .comment:hover {
            background-color: #d9d9d9;
        }
    </style>
{% endblock %}
