{% extends ':Default:base.html.twig' %}
{% form_theme passwordForm 'bootstrap_3_layout.html.twig' %}
{% form_theme couponForm 'bootstrap_3_layout.html.twig' %}

{% block header %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-toggle.min.css') }}">
    <style>
        #content {
            padding-top: 60px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-toggle.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var $formMoney = $('#realCashForm'),
                $input = $('#increaseRealCash');

            $('input[type="file"]').on("change", function() {
                $(this).parent().submit();
            });

            $formMoney.on('submit', function () {
                var path = "{{ path('mc_shop_finance_sendForm', { 'amount': '__AMOUNT__'}) }}";
                if ($input.val() != "" || $input.val() > 0) {
                    window.location.href = path.replace('__AMOUNT__', $input.val());
                }

                return false;
            });
        });
    </script>
{% endblock %}


{% block container %}
<div class="row">
    <div class="col-md-3 text-center">
        <img class="img-thumbnail media-object center-block" src="{{ asset(app.user.avatarPath) }}" alt="avatar" width="150px"><br>
        <div class="btn-group btn-group-sm btn-group-justified">
            <a href="{{ path('mc_shop_user_image_type_change', {'choice': 'avatar'}) }}" class="btn btn-sm btn-warning{{ app.user.skinAsAvatar ? null : ' active' }}">
                {{ 'user.profile.use.avatar'|trans }}</a>
            <a href="{{ path('mc_shop_user_image_type_change', {'choice': 'head'}) }}" class="btn btn-sm btn-warning{{ not app.user.skinAsAvatar ? null : ' active' }}">
                {{ 'user.profile.use.head'|trans }}</a>
        </div>
        {% if not app.user.skinAsAvatar %}
        <form action="{{ path('mc_shop_user_upload_file') }}" enctype="multipart/form-data" method="post">
            <small class="text-danger">{{ 'user.profile.avatar_help'|trans }}</small>
            <input type="file" class="filestyle" data-buttonBefore="true" name="avatar"
                   data-buttonText="{{ 'user.profile.upload_avatar'|trans }}" data-icon="false">
        </form>
        {% endif %}
        <hr>
        <h5>{{ 'user.profile.skin_preview'|trans }}</h5>
        <img src="{{ asset(app.user.getSkinPreview()) }}" alt="front">
        <img src="{{ asset(app.user.getSkinPreview('back')) }}" alt="front"><br><br>
        <form action="{{ path('mc_shop_user_upload_file') }}" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="type" value="0" autocomplete="off" checked="">{{ 'user.profile.upload_skin'|trans }}</label>
                    <label class="btn btn-default {{ app.user.hdBuyDate is null ? 'disabled' }}">
                        <input type="radio" name="type" value="1" autocomplete="off">{{ 'user.profile.upload_cloak'|trans }}</label>
                </div>
            </div>
            <input type="file" class="filestyle" data-buttonBefore="true" name="skin_or_cloak"
                    data-buttonText="{{ 'user.profile.upload'|trans }}" data-icon="false">
        </form>
        <br>
        <div class="btn-group btn-group-justified">
            <a href="{{ path('mc_shop_user_unlink', {'type': 'skin'}) }}" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                {{ 'user.profile.skin'|trans }}</a>
            <a href="{{ path('mc_shop_user_unlink', {'type': 'cloak'}) }}" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                {{ 'user.profile.cloak'|trans }}</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <label>{{ 'user.real_cash'|trans({'@cash@': app.user.purse is null ? 0 : app.user.purse.realCash}) }}</label>
                    <form id="realCashForm">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" id="increaseRealCash" class="form-control" placeholder="0" min="1">
                                <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success">{{ 'user.increase_real_cash'|trans }}</button>
                    </form>
                </div>

                <div class="well">
                    <label>{{ 'user.coupon_activate'|trans({'@cash@': app.user.purse is null ? 0 : app.user.purse.realCash}) }}</label>
                    {{ form_start(couponForm) }}
                    {{ form_widget(couponForm) }}
                    <button class="btn btn-block btn-primary">{{ 'user.activate'|trans }}</button>
                    {{ form_end(couponForm) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <label>{{ 'user.profile.password.change'|trans }}</label>
                    {{ form_start(passwordForm) }}
                    {{ form_widget(passwordForm) }}
                    <button type="submit" class="btn btn-block btn-warning">{{ 'user.profile.password.change_button'|trans }}</button>
                    {{ form_end(passwordForm) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
