{% extends ':Default/ShoppingCart:index.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_CATEGORY_NEW') %}
    <div class="row">
        <div class="pull-right">
            <a href="{{ path('mc_shop_shopping_cart_manage_category_new') }}" class="btn btn-success">{{ 'shopping_cart.category.new'|trans }}</a>
        </div>
    </div>
    <hr>
    {% endif %}
    {% if categories|length == 0 %}
        <div class="alert alert-info">{{ 'shopping_cart.category.empty'|trans }}</div>
    {% else %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr class="success">
            <th class="text-center">#</th>
            <th class="text-center">{{ 'shopping_cart.category.title'|trans }}</th>
            <th class="text-center">{{ 'shopping_cart.category.parent'|trans }}</th>
            <th class="text-center">{{ 'shopping_cart.category.items_count'|trans }}</th>
            <th class="text-center">
                <i class="fa fa-cog"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.parent is not null ? category.parent.title }}</td>
                <td>{{ category.items|length }}</td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        {% if is_granted('ROLE_CATEGORY_EDIT') %}<a href="{{ path('mc_shop_shopping_cart_manage_category_edit', {'id': category.id}) }}"
                           class="btn btn-primary"><i class="fa fa-pencil"></i></a>{% endif %}
                        {% if is_granted('ROLE_CATEGORY_REMOVE') %}<a href="{{ path('mc_shop_shopping_cart_manage_category_remove', {'id': category.id}) }}"
                           class="btn btn-danger"><i class="fa fa-trash"></i></a>{% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {{ categories.hasPreviousPage or categories.hasNextPage ? pagerfanta(categories, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}
{% endblock %}
