{% extends ':Default:base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #content {
            padding-top: 60px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row page-header">
        <div class="pull-right">{{ users.hasPreviousPage or users.hasNextPage ? pagerfanta(users, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}</div>
        <h2>{{ 'user.manage.list'|trans }} <small>| {{ 'user.manage.total'|transchoice(users|length, { '@count@': users|length}) }}</small></h2>
    </div>

    <div class="row">
        {{ form_start(form) }}
        <div class="input-group">
            {{ form_widget(form.username) }}
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> {{ 'user.manage.search'|trans }}</button>
            </span>
        </div>
        {{ form_end(form) }}
    </div>
    <br>

    <table class="table table-striped table-hover table-header-dark">
        <thead>
        <tr>
            <th>{{ 'user.manage.username'|trans }}</th>
            <th>{{ 'user.manage.email'|trans }}</th>
            <th>{{ 'user.manage.lock_status'|trans }}</th>
            <th class="text-right">
                <i class="fa fa-cogs"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <td>{{ user.username|preg_replace('/'~form.username.vars.data~'/', '<strong>'~form.username.vars.data~'</strong>')|raw }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.locked ? 'user.manage.locked'|trans : 'user.manage.unlocked'|trans }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <a href="{{ path('mc_shop_users_manage_ban', {'id': user.id}) }}" class="btn btn-{{ user.locked ? 'primary' : 'danger' }}"
                       data-toggle="tooltip" title="{{ 'user.manage.ban_unban'|trans }}"><i class="fa fa-{{ user.locked ? 'unlock' : 'ban' }}"></i></a>
                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('ROLE_PREVIOUS_ADMIN') and not app.user == user %}
                        <a href="{{ path('homepage', {'_locale': app.request.locale, '_switch_user': user.username}) }}"  class="btn btn-default"
                           data-toggle="tooltip" title="{{ 'user.manage.login_as'|trans }}"><i class="fa fa-user-secret"></i></a>
                    {% endif %}
                </div>
            </td>
        {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">{{ users.hasPreviousPage or users.hasNextPage ? pagerfanta(users, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}</div>
{% endblock %}
