{% extends ':Default:base.html.twig' %}

{% block header %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #content {
            padding-top: 60px;
        }
    </style>
{% endblock %}

{% block left_menu %}
    <div class="panel panel-default panel-menu">
        <div class="panel-heading" data-toggle="collapse" data-target="#menu-2"
             aria-expanded="false" aria-controls="menu-2">{{ 'shopping_cart.menu.managment_title'|trans }}</div>
        <div class="panel-body collapse in" id="menu-2">
            {{ renderMenu('shopping_cart.admin', ':Default/ShoppingCart:menu.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total.categories }}</div>
                            <div>{{ 'shopping_cart.category.menu'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cube fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total.items }}</div>
                            <div>{{ 'shopping_cart.item.menu'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# todo: реализовать историю покупок #}
        <div class="col-md-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">0</div>
                            <div>{{ 'shopping_cart.total.buy'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
